.header {
  padding: 24px 0;
}
.header__container {
  max-width: 1240px;
  padding: 0 30px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
}
.header__logo {
  margin-right: 69px;
  cursor: pointer;
}
.header__search {
  flex-grow: 1;
  margin-right: auto;
}
.header__favourite-btn {
  color: #fff;
  transition: color 0.2s ease-in-out;
  line-height: 0;
}
.header__favourite-btn:hover {
  color: tomato;
}

@media (max-width: 1024px) {
  .header__container {
    padding: 0 22px;
  }

  .header__search {
    margin-right: 90px;
  }
}

@media (max-width: 768px) {
  .header__container {
    padding: 0 15px;
    max-width: 610px;
  }

  .header__search {
    margin-right: 0;
  }
  .header__logo {
    margin-right: 12px;
  }
}

@media (max-width: 560px) {
  .header {
    padding-top: 20px;
  }
  .header__container {
    flex-wrap: wrap;
    gap: 17px;
  }
  .header__search {
    order: 1;
    flex-basis: 100%;
  }
}
