.player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -100%;
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 20px;
  max-width: 1228px;
  margin: 0 auto;
  transition: bottom 0.5s ease-in-out;
  padding: 24px;
}
.player_active {
  bottom: 26px;
}
.player__container {
  display: grid;
  grid-template-columns: 1fr 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.player__controller {
  display: flex;
  align-items: center;
  gap: 15px;
}
.player__icon {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
}
.player__icon_stop {
  background-image: url('../img/stop.svg');
}
.player__icon_prev {
  background-image: url('../img/prev.svg');
}
.player__icon_pause {
  background-image: url('../img/pause.svg');
}
.player__icon_play {
  background-image: url('../img/play.svg');
}
.player__icon_next {
  background-image: url('../img/next.svg');
}
.player__icon_like {
  background-image: url('../img/like-o.svg');
}

.player__progress-wrap {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-right: 8px;
}
.player__progress {
  flex-grow: 1;
  max-width: 487px;
}
.player__progress-input {
  width: 100%;
  padding: 9px 0;
  cursor: pointer;
  background-color: transparent;
  appearance: none;
  -webkit-appearance: none;
}
.player__progress-input::-webkit-slider-runnable-track {
  background-color: #1e5a32;
  border-radius: 20px;
  border: none;
  height: 6px;
}
.player__progress-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 24px;
  margin-top: -9px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  border-radius: 30px;
}
.player__progress-input:hover::-webkit-slider-runnable-track,
.player__progress-input:focus::-webkit-slider-runnable-track {
  background-color: #e6a93f;
}
.player__progress-input:hover::-webkit-slider-thumb,
.player__progress-input:focus::-webkit-slider-thumb {
  border: 1px solid #000;
}
.player__time {
  font-size: 14px;
  display: flex;
  gap: 4px;
}

.player__volume-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}
.player__volume {
  height: 24px;
  width: 146px;
  background: url('../img/volume.svg') center/contain no-repeat;
}
.player__volume-input {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.player__volume-input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 12px;
  height: 24px;
  background: #ffffff;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
  border-radius: 30px;
}
.player__volume-input:hover::-webkit-slider-thumb,
.player__volume-input:focus::-webkit-slider-thumb {
  border: 1px solid #000;
}
.player__icon_mute {
  background-image: url('../img/volume-on.svg');
}
.player__icon_mute-off {
  background-image: url('../img/volume-off.svg');
}

@media (max-width: 1024px) {
  .player__container {
    grid-template-columns: 1fr 1fr 2fr 1fr;
  }
}

@media (max-width: 968px) {
  .player {
    right: 34px;
    left: 34px;
    padding: 22px 60px;
    border-radius: 30px;
  }
  .player__container {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 27px 20px;
  }
  .player_active {
    bottom: 24px;
  }
  .player__progress-wrap {
    order: 1;
    grid-column: 1 / -1;
  }
  .player__progress {
    max-width: none;
  }
  .player__volume-wrap {
    justify-self: end;
  }
  .player__controller {
    justify-self: center;
  }
}

@media (max-width: 740px) {
  .player {
    bottom: 0;
    border-radius: 20px 20px 0 0;
  }
  .player__container {
    grid-template-columns: 1fr 1fr;
    gap: 27px 20px;
  }
  .player__volume-wrap {
    display: none;
  }
  .player__controller {
    justify-self: right;
  }
}

@media (max-width: 560px) {
  .player {
    right: 0;
    left: 0;
    padding: 16px 15px;
  }
  .player__container {
    grid-template-columns: 1fr;
    gap: 16px;
  }
  .player__controller {
    justify-self: center;
  }
  .player__track-info {
    justify-self: center;
    text-align: center;
  }
  .player__progress-wrap {
    padding-left: 0;
  }
}
