.track {
  padding: 6px;
  background-color: transparent;
  border-radius: 20px;
  border: 2px solid transparent;
  display: flex;
  flex-direction: column;
}
.track_active {
  background-color: rgba(255, 255, 255, 0.5);
  border-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
}
.track__img-wrap {
  position: relative;
  border-radius: 18px 18px 0px 0px;
  overflow: hidden;
  line-height: 0;
}

.track__img-wrap::after {
  content: '';
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) rotateY(90deg);
  background-image: url('../img/play.svg');
  background-position: center;
  background-repeat: no-repeat;
  transition-property: transform, opacity;
  transition-duration: 0.4s;
  transition-timing-function: ease-in-out;
  opacity: 0;
}

.track__info {
  background-color: #fff;
  border-radius: 0px 0px 12px 12px;
  padding: 14px 8px;
  flex-grow: 1;
  align-self: stretch;
}

.track:hover .track__img-wrap::after,
.track:focus .track__img-wrap::after {
  transform: translate(-50%, -50%) rotateY(0);
  opacity: 1;
}
.track:active .track__img-wrap::after {
  transform: translate(-50%, -50%) rotateY(0) scale(1.3);
  opacity: 1;
}
.track_active:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

.track_active .track__img-wrap::after {
  transform: translate(-50%, -50%) rotateY(0deg);
  background-image: url('../img/pause.svg');
  transition: background-color 0.3s ease-in-out;
  opacity: 1;
}

.track_active:hover .track__img-wrap::after {
  background-color: #fff;
}
